@import "_variables";
@import "_mixins";
.ocultar{
	display: none;
}
#icon-ray{
	color: #FFB400;
}
div.subtitle{
	span{
		font-size: 13px;
    font-weight: 700;
    color: #484848;
	}
}
#cont-map{
	position: fixed;
  right: 0;
	padding-right:0; 
}
.container-advancedFilter{
	.boton-advancedFilter{
		position: sticky;
		top: 0;
		padding: 30px 0;
		border-bottom: 1px solid $color-light-gray;
		button{
			padding: 10px 50px;
    	border-radius: 5px;
			background-color: transparent;
			border: 1px solid $color-medium-gray;
		}
	}
	.option-advancedFilter{
		display: none;
		select{
			width: 100%;
	    padding: 10px;
	    border-radius: 3px;
	    margin-bottom: 15px;
		}
		.filters-section{
			padding: 20px 0;
   		border-bottom: 1px solid $color-light-gray;
		}
	}
}
