.container-filter{
	font-size: 14px;

	.filters-section{
		padding: 15px 0;
		border-bottom: 1px solid #dce0e0;

		.subtitle{
			padding-top:9px;
			padding-bottom:8px;

			label{
				font-size: 13px;
				font-weight: bold;
				color: #484848;
			}
		}
		input, select{
			width: 100%;
			padding:8px 10px;
			border-radius:2px;
			border:1px solid;
			background-color:white;
		}
		select{
			padding: 9px;
		}

		.div-gray{
			background-color: #edefed;
			border: 1px solid #dce0e0;
			padding-top:9px;
			padding-bottom:8px;
			padding-left:7px;

			div{
				display: inline-block;

				input{
					margin:0 5px;
					width: 1.25em;
					height: 1.25em;
					color: #008489;
					border: 1px solid #aaa;
				    border-radius: 2px;
				    background-color: #fff;
				}
			}
		}
		.publicity{
			padding-top:12px;
		}
	}
}